@using CG.NET.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
    List<string> tables = ViewBag.tables as List<string>;
    List<DBColumn> columns = ViewBag.columns as List<DBColumn>;
}
@section Styles{
    <link href="~/Content/layoutit.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="">
            <div class="sidebar-nav">
                <ul class="nav nav-list accordion-group">
                    <li class="nav-header">
                        数据库表
                        <select class="form-control" id="Tables">
                            @foreach (string name in tables)
                            {
                                <option value="@name">@name</option>
                            }
                        </select>
                    </li>
                    @{
                        if (tables != null && tables.Count > 0 && columns != null && columns.Count > 0)
                        {
                            <li class="boxes" id="Columns" style="display:block;">
                                @{
                                    foreach (var column in columns)
                                    {
                                        if (column.TableName.ToLower() == tables[0].ToLower())
                                        {
                                            <div class="box box-element">
                                                <div class="preview">
                                                    @column.Name
                                                    <span>@(column.Details)</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $("#Tables").change(function () {
            var name = $(this).val();
            //$(".boxes").hide();
            //$("#" + name).show();
            $.ajax({
                url: "/Home/GetColumsByTable",
                type: "POST",
                data: { TableName: name },
                dataType: "JSON",
                success: function (data) {
                    if (data != null) {
                        if (data.Code == 300) {
                            location.reload();
                        }
                        else {
                            if (data.Code == 0) {
                                var html = "";
                                var IData = data.Data;
                                if (IData != null && IData.length > 0) {
                                    for (var i = 0; i < IData.length; i++) {
                                        var column = IData[i];
                                        html += '<div class="box box-element"><div class="preview">' + column.Name + '<span>' + column.Details + '</span></div></div>';
                                    }
                                    $("#Columns").html(html);
                                }
                            }
                            else {
                                layer.msg(data.Mess, { icon: 2, time: 3000 });
                            }
                        }
                    }
                }
            })
        })
    </script>
}
